*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}

.table{
    width: 100%;
    border-collapse: collapse;
}
.table td,.table th {
    padding: 12px 15px;
    border: 1px solid black;
    text-align: center;
}
.table th{
    background-color: rgb(24, 157, 246);
}

.table tbody tr:nth-child(even){
    background-color: rgb(218, 213, 213);
}


@media(max-width:767px){
    .table thead{
    display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;

    }
    .table tr{
        margin-bottom: 2rem;
}
    .table td{
        text-align: right;
        position: relative;
        padding-left: 50%;
      
      }

      .table td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
        padding-left: 15px;
        text-align: left;    
        font-weight: bold;
        font-size: larger;    
      }
}


